<input #searchInput (input)="input$.next(searchInput.value)" [class.loading]="isLoading" aria-label="Search" autocomplete="off"
       type="search">

<ng-container *ngIf="searchInput.value.length >= 1">
    <ul *ngIf="results$ | async as results" class="search-results">
        <li *ngFor="let book of results">
            <a [routerLink]="['/books', book.isbn]">
                {{ book.title }}
                <p role="doc-subtitle">
                    {{book.subtitle}}
                </p>
            </a>
        </li>
        <li *ngIf="!results.length">Sorry, there are no books you are looking for.</li>
    </ul>
</ng-container>
