<form (ngSubmit)="submitForm()" [formGroup]="form">
    <label for="title">Title</label>
    <input formControlName="title" id="title">

    <label for="subtitle">Subtitle</label>
    <input formControlName="subtitle" id="subtitle">

    <label for="isbn">ISBN</label>
    <input formControlName="isbn" id="isbn">

    <label for="description">Description</label>
    <textarea formControlName="description" id="description"></textarea>

    <label for="published">Published</label>
    <input formControlName="published" id="published" type="date" useValueAsLocalIso>

    <label for="thumbnailUrl">Thumbnail URL</label>
    <input formControlName="thumbnailUrl" id="thumbnailUrl" type="url">

    <button [disabled]="form.invalid" type="submit">Save</button>
</form>

<pre>{{ form.value | json}}</pre>
