<nav>
    <a routerLink="/home"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{ exact: true }"
       aria-current="page">Home</a>

    <a routerLink="/books"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{ exact: true }"
       aria-current="page">Books</a>

    <a routerLink="/admin"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{ exact: true }"
       aria-current="page">Administration</a>

    <!-- Only show these buttons when NOT on the /books route -->
    <div *ngIf="!isBooksRoute" class="actions">
        <button (click)="auth.login()" *ngIf="!auth.isAuthenticated" class="green">Login</button>
        <button (click)="auth.logout()" *ngIf="auth.isAuthenticated" class="red">Logout</button>
    </div>
</nav>

<main>
    <router-outlet></router-outlet>
</main>
