<nav>
    <a ariaCurrentWhenActive="page"
       routerLink="/home"
       routerLinkActive="active">Home</a>

    <a ariaCurrentWhenActive="page"
       routerLink="/books"
       routerLinkActive="active">Books</a>
    <a ariaCurrentWhenActive="page" routerLink="/admin" routerLinkActive="active">Administration</a>
    <!-- Only show these buttons when NOT on the /books route -->
    <div *ngIf="!isBooksRoute" class="actions">
        <button (click)="auth.login()" *ngIf="!auth.isAuthenticated" class="green">Login</button>
        <button (click)="auth.logout()" *ngIf="auth.isAuthenticated" class="red">Logout</button>

    </div>
</nav>

<main>
    <router-outlet></router-outlet>
</main>
